{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>AREA OF TRIANGLE</title>
    <link rel="stylesheet" href="{% static 'css/mathscript.css' %}">
    <link rel="icon" href="{% static 'img/trianglelogo.png' %}" type="image/x-icon">
</head>

<body>
    <div class="container">
        <div class="formview">
            <div class="banner">
                <b>AREA OF TRIANGLE</b>
            </div>
            <div class="content">
                <form action="" method="GET">
                    {% csrf_token %}
                    <div class="forminput">
                        <label for="value_a">Base :</label>
                        <input type="text" name="value_a" id="value_a">
                    </div>
                    <div  class="forminput">
                        <label for="value_b">Height :</label>
                        <input type="text" name="value_b" id="value_b">
                    </div>                    
                    <div class="formbutton">
                        <button type="button" name="result_button" id="result_button">Calculate Area</button>
                    </div>
                    <div class="forminput">
                        <label for="value_c"> A =</label>
                        <input type="text" name="value_c" id="value_c" readonly>
                    </div>
                    <div class="formula">
                        <label> ~ A = (h x b) / 2</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/static/js/areaoftriangle.js"></script>
</body>

</html>